#map {
    height: 50vh;
    width: 100%;
}

.leaflet-popup-content {
    font-size: 12px;
    line-height: 1.4;
    padding: 5px;
    color: #444;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.popup-item-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.popup-item-text {
    font-size: 12px;
    color: #333;
}

.map-toolbar {
    position: absolute; /* Positionnement absolu par rapport au conteneur parent */
    top: 10px;          /* Décalage depuis le haut */
    right: 10px;        /* Décalage depuis la droite */
    z-index: 1000;      /* Assurez-vous que la barre d'outils est visible au-dessus de la carte */
    background: white;  /* Couleur de fond pour améliorer la lisibilité */
    border: 1px solid #ccc; /* Bordure discrète */
    padding: 5px 10px;  /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre pour effet d'élévation */
  }
  
  .map-toolbar button {
    background: #007bff; /* Couleur du bouton */
    color: white;        /* Couleur du texte */
    border: none;        /* Supprimer les bordures */
    padding: 5px 10px;   /* Espacement interne */
    border-radius: 3px;  /* Coins légèrement arrondis */
    cursor: pointer;     /* Curseur en forme de main */
  }
  
  .map-toolbar button:hover {
    background: #0056b3; /* Couleur du bouton au survol */
  }